{% load static %}
<html>
    <head>
        <title>The Wall</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">The Wall</a></h1>
            <h1><a href="/blogs/">Blogs</a></h1>
            <h1><a href="/post/new/">New Post</a></h1>


        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for blog in blogs %}
                        <div>
                            <h1><a href="/blog/{{blog.id}}/">{{ blog.title }}</a></h1>
                            <p>{{ blog.description|linebreaksbr }}</p>
                            <form action="/blogs/?q={{ blog.id }}" method="POST" class="post-form">{% csrf_token %}
                                    {{ form.as_p }}
                                    
                                    {% if user in blog.followers.all %}
                                        <button type="submit" class="save btn btn-default">Отписаться</button>
                                    {% else %}
                                        <button type="submit" class="save btn btn-default">Подписаться</button>
                                    {% endif %}
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>

