{% load static %}
<html>
    <head>
        <title>The Wall</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/feed/">The Wall</a></h1>
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div>
                            <h1><a href="">{{ post.blog }}</a></h1>
                            <p>published: {{ post.published_date }}</p>
                            <p><a href="">{{ post.title }}</a></p>
                            <p>{{ post.text|linebreaksbr }}</p>
                            <form action="/feed/?q={{ post.id }}" method="POST" class="post-form">{% csrf_token %}
                                    {{ form.as_p }}
                                    
                                    {% if user in post.seen_by.all %}
                                        <button type="submit" class="save btn btn-default">Не глянул</button>
                                    {% else %}
                                        <button type="submit" class="save btn btn-default">Глянул</button>
                                    {% endif %}
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>

